<h1>Three Most Populated Countries</h1>
<div class="container">
  <div class="row">
      <div class="col text-center" *ngFor="let country of country | slice:0:3;">
          <div class="card" (click)="onCardClick()">
              <div class="card-body">
                  <h2>{{country.name}}</h2>
                  <p>{{country.population}}</p>
                  <p>People</p>
              </div>
          </div>
      </div>
  </div>
</div>

<h1>Three Largest Countries</h1>
<div class="container">
  <div class="row">
      <div class="col text-center">
          <div class="card">
              <div class="card-body">
                  <h2>Heading</h2>
                  <p>Paragraph</p>
                  <p>Paragraph</p>
              </div>
          </div>
      </div>
      <div class="col text-center">
          <div class="card">
              <div class="card-body">
                  <h2>Heading</h2>
                  <p>Paragraph</p>
                  <p>Paragraph</p>
              </div>
          </div>
      </div>
      <div class="col text-center">
          <div class="card">
              <div class="card-body">
                  <h2>Heading</h2>
                  <p>Paragraph</p>
                  <p>Paragraph</p>
              </div>
          </div>
      </div>
  </div>
</div>
